.footer{
    background-color: rgba(0, 0, 0, 1);
    padding: 66px;
    display: flex;
    justify-content: space-between; /* Распределяет блоки слева и справа */
    align-items: center; /* Выравнивание по вертикали по центру */

}

.contacts, .leftText {
    color: white;
    font-weight: 600;
    font-size: 28px;
}