.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .overlay {
    position: absolute;
    bottom: 0; /* Привязываем к нижнему краю */
    left: 66px; /* Привязываем к левому краю */
    width: 100%;
    height: auto; /* Подстроит высоту под контент */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Текст прижат к левому краю */
    padding: 0 0 40px 40px; /* Добавляем отступ от краев */
  }

  .title {
    color: #e8daa0;
    font-family: Curly;
    font-size: 60px;
    font-weight: 800;
  }
  
  .text {
    color: #e8daa0;
    font-family: Curly;
    font-size: 55px;
    font-weight: 600;
    font-style: italic;
  }
  